.search-bar {
    position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: solid 3px; */
    padding: 1em;
    max-width: 75%;
    justify-content: flex-end;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    outline: none; /* Remove outline when focused */
}

.search-bar button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Hover and Focus Effects */
.search-bar input[type="text"]:hover,
.search-bar input[type="text"]:focus {
    border-color: orange;
}

.search-bar button[type="submit"]:hover {
    background-color: blue;
}

#inputText{
   display: flex;
   flex-direction: row;
   float: right !important;
   width: 600px;
   background: rgba(0,0,0,0.75);
   color: white;
}

.search-results{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4px;
}

.submit-button{
    /* width: 100%; */
    border: 0;
    outline: 0;
    padding: 10px;
    background: orange;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
}

.img-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    
}

